.env
.idea
.vscode
.DS_store
__pycache__
data_legacy
node_modules/
TODO.md

# Add the data and data_extraction folders to .gitignore in main
### DO NOT TOUCH THIS AND BELOW ###
data/
data_extracted/
data_extraction/
### DO NOT TOUCH THIS AND ABOVE ###